/* div {
    border: 1px solid #cccccc;
    box-sizing: border-box;
} */

:root {
    --headerHeight: 45px;
    --searchHeight: 25px;
    --sidevarHeight: calc(100vh - var(--headerHeight));

    --sidebarWidth: 190px;
    --mainWidth: calc(100% - var(--sidebarWidth));

    --headerMargin: 20px;
    --mainMargin: 30px;

    --mainColor: #f9f9f9;
    --headerColor: rgba(255, 255, 255, 0.9); /*white 투명도*/
    --searchColor: #777777;
    --iconColor: #555555;
    --videoColor: #eeeeee;

    --englishFont: 'Roboto', sans-serif;
    --koreanFont: 'Noto Sans KR', sans-serif;
}

html, body {margin: 0; padding: 0;}
a {text-decoration: none;}


/* ==============Header=============== */

header {
    width: 100%;
    height: var(--headerHeight);
    background-color: var(--headerColor);
    position: fixed;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--headerMargin);
    box-sizing: border-box;
}

.left-side {
    display: flex;
    align-items: center;
}

.burger {
    margin-right: var(--headerMargin);
    color: var(--iconColor);
    width: var(--headerMargin);
    text-align: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 70px;
    height: auto;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--searchColor);

    border: 1px solid #cccccc;
    border-radius: 3px;
}

.search-text {
    width: 450px;
    height: var(--searchHeight);
    line-height: var(--searchHeight);
    background-color: white;

    font-size: 13px;
    font-family: var(--englishFont);
    padding-left: 10px;
    border-right: 1px solid #cccccc;
}

.search-button {
    width: 50px;
    height: var(--searchHeight);
    line-height: var(--searchHeight);
    text-align: center;
    font-size: 12px;
    background-color: var(--mainColor);
    color: var(--searchColor);
}

.search-button:hover {
    background-color: #f2f2f2;
}

.right-side {
    display: flex;
}

.icons {
    display: flex;
    align-items: center;
    font-size: 15px;
}

.icons i {
    margin-right: var(--headerMargin);
    color: var(--iconColor);
}

.account {
    width: 27px; height: 27px;
    line-height: 27px;
    text-align: center;
    border-radius: 300px;

    text-decoration: none;
    font-size: 11px;
    font-family: var(--koreanFont);
    color: white;
    background-color: lightsteelblue;
}



/* ======================MAIN==================== */
main {
    padding-top: var(--headerHeight);
}


/* --------------MENU------------- */

.menu-bar {
    width: var(--sidebarWidth);
    height: var(--sidevarHeight);
    overflow: hidden;
    position: fixed;
    box-sizing: border-box;
}

.menu-bar:hover {
    overflow-y: scroll;
}

.menu-wrap {
    font-family: var(--englishFont);
    color: var(--iconColor);
    margin-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #cccccc;
}

.menu {
    padding: 0 var(--headerMargin);
    display: flex;
    align-items: center;
    height: 30px;
}

.menu:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

.menu-icon {
    font-size: 15px;
    width: var(--headerMargin);
    text-align: center;
    margin-right: var(--headerMargin);
}

.menu-text {
    font-size: 12px;
    font-family: var(--englishFont);
}

/* 구독 */
.menu-title {
    font-size: 12px;
    margin: 0 0 10px var(--headerMargin);
    font-family: var(--englishFont);
    font-weight: bold;
}

.subscriptions .menu-icon {
    border-radius: 100px;
    background-color: lightsteelblue;
}

.subscriptions .menu-text {
    font-family: var(--koreanFont);
}

.menu-footer {
    margin-top: 12px;
    padding: 0 var(--headerMargin);
    font-size: 11px;
}

.menu-footer a {
    color: var(--iconColor);
    font-family: var(--englishFont);
    font-weight: bold;
}

.footer-wrap {
    margin-bottom: 12px;
}

.footer-unit-wrap {
    display: flex;
}

.footer-unit {
    margin-right: 7px;
}

.copyright {
    font-family: var(--englishFont);
    color: var(--iconColor);
    font-weight: lighter;
    font-size: 11px;
    padding: 12px 0;
}

.menu-bar-sm {
    display: none;
}




/* ====================Main Contents==================== */

.content-wrap {
    width: var(--mainWidth);
    margin-left: var(--sidebarWidth);
    background-color: var(--mainColor);
    padding: 0 var(--headerMargin);
    box-sizing: border-box;
}

.main-block {
    padding: var(--mainMargin) 0;
    border-bottom: 3px solid #dddddd;
}

.main-title {
    font-family: var(--englishFont);
    font-size: 16px;
    font-weight: bold;
    padding-bottom: var(--headerMargin);
}

/* ------추천------ */

.video-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: var(--mainMargin);
    grid-column-gap: 10px;

}

.video {
    width: 100%;
    padding-top: 55%;
    background-color: var(--videoColor);
}

.video-content {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.video-content-main {
    display: flex;
}

.video-left {
    width: 25px; height: 25px;
    border-radius: 300px;
    background-color: #cccccc;
    margin-right: 5px;
}

.video-text {
    font-family: var(--koreanFont);
    font-size: 12px;
}

.video-title {
    font-weight: bold;
}

.video-sub {
    color: var(--iconColor);
    margin-top: 3px;
}

.video-sub div:last-child {
    font-family: var(--englishFont);
    margin-left: 2px;
}

.video-right {
    display: none;
}

.video-wrap:hover {
    cursor: pointer;
}

.video-wrap:hover > .video-content > .video-right {
    display: block;
    margin-right: 10px;
    font-size: 14px;
    color: #cccccc;
}


/* ---------탑픽스--------- */

.picks-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--englishFont);
    margin-bottom: var(--headerMargin);
}

.picks-title-text {
    display: flex;
    align-items: center;
}

.picks-title-left {
    width: 35px; height: 35px;
    line-height: 38px;
    border-radius: 300px;
    background-color: var(--iconColor);
    text-align: center;
    color: white;
    font-size: 18px;
    margin-right: 5px;
}

.picks-title-right .title {
    font-weight: bold;
}

span {
    font-size: 12px;
    color: var(--iconColor);
}

span a {
    font-weight: bold;
    color: steelblue;
}

.picks-title-x {
    font-size: 26px;
    color: var(--searchColor);
}

.picks-title-x:hover {
    cursor: pointer;
    color: var(--iconColor);
}

.pick-container {
    display: grid;
    height: 270px;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-gap: 100px 10px;
}

.pick-wrap:hover {
    cursor: pointer;
}

.pick {
    width: 100%;
    padding-top: 135%;
    background-color: var(--videoColor);
}

.pick-content {
    margin-top: 10px;
    font-size: 12px;
    font-family: var(--englishFont);
    color: var(--iconColor);
}

.pick-content .title {
    color: black;
    font-family: var(--koreanFont);
    font-weight: bold;
    margin-bottom: 3px;
}

.pick-content span {
    font-size: 11px;
}

.pick-content .buy {
    padding: 2px 4px;
    font-size: 10px;
    font-weight: bold;
    color: darkolivegreen;
    background-color: #eeeeee;
}


